<!DOCTYPE html>
<html>
    <head>
        <title>Search Your Book</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container mt-3">
            {% if user.is_authenticated %}
            <div class="alert alert-success mt-4">
                <h3>Welcome, {{ user.get_username }}</h3>
                <small class="mt-4" style="float: right;"><a href="{% url 'logout' %}">Logout</a></small>
            </div>
            {% else %}
            <p>Welcome new user, please <a href="/login/">login</a></p> 
            {% endif %}
            <h2 style="margin-top:30px">Find Your Book</h2>
            <p>Type a keyword of a book that you want to find</p>
            <input class="form-control" id="searchbook" type="text" placeholder="Find your book..." required>
            
            <table class="table table-hover" id="booktable">
                <thead>
                    <tr id="firstrow">
                        <th>Title</th>
                        <th>Book Cover</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!--
            <ol id="daftar_isi">
            </ol>
            -->
        </div>
        <script>
            $(document).ready(function(){
                $("#searchbook").keyup(function(){
                    var searchinput = $("#searchbook").val();
                    $.ajax({
                        url : '/booksearched?q=' + searchinput,
                        success : function(book) {
                            var array_book = book.items;
                            $("tbody").empty();
                            for (i = 0; i < array_book.length; i++) {
                                var title = array_book[i].volumeInfo.title;
                                var book_cover = array_book[i].volumeInfo.imageLinks.smallThumbnail;
                                var book_link = array_book[i].volumeInfo.authors[0];
                                $("tbody").append("<tr><td>" + title + "</td><td><img src=" + book_cover +  "></td><td>" + book_link + "</td></tr>");
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>