{% load crispy_forms_tags %}

<!DOCTYPE html>
<html class="h-100">
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
    <body class="h-100 d-flex align-items-center" style="background-color: aqua;">
        <div class="container mt-4">

                <div class="bg-light p-4">
                    <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muterd">
                            Already Have An Account? <a class="ml-2" href="/login/">Log In</a>
                        </small>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-4">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                

        </div>

    </body>
</html>